<mat-sidenav-container >
    <mat-sidenav  #drawer>
       <app-sidenav-list (sidenavlistToggle)="drawer.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavtoggle)="drawer.toggle()"></app-header>
        <!-- <button (click)="drawer.toggle()">Show SideNav</button> -->
        <main>
            <router-outlet></router-outlet>
            <div *ngIf="isloading$ | async" class="mainloaderDiv">
            <div class="lds-circle"><div></div></div>
            </div>
        </main>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
